{
  "env": {
    "browser": false,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "ignorePatterns": ["dist"],
  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "rules": {
        "import/first": 0
      }
    },
    {
      "files": [
        "src/**/*"
      ],
      "rules": {
        "import/prefer-default-export": 0
      }
    }
  ],

  "extends": [
    "@edsc"
  ],

  // Define any global variables to avoid no-undef errors
  "globals": {
    "vi": "readonly"
  }
}
